.countdown{
  font-family: 'Intro', sans-serif;
  font-size: 55px;
  color: #444444;
  display: flex;
  width: 580px;
}

.caption {
  font-family:'Roboto', sans-serif;
  font-size: 11px;
  color: #a0a0a0;
  position: absolute;
  bottom: -30px;
  left: 0;
  text-align: center;
  width: 100%;
}
.number-wrapper{
  position: relative;
}