.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: Intro;
  src: url(../fonts/Intro.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #22aff1;
}

p {
  margin: 0;
}

h1 {
  font-family: 'Intro', sans-serif;
  font-size: 58px;
  color: #22aff1;
  text-transform: uppercase;
  margin: 0;
  & span {
    color: #fff;
    position: relative;
    padding: 0 12px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 221px;
      height: 115px;
      background: url("../img/bg-text-led.png") no-repeat;
      top: -21px;
      left: -50px;
      z-index: -1;
    }
  }
}

.btn {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  padding: 6px 23px;
  &__menu {
    background-color: rgb(0, 174, 255);
    box-shadow: 0 10px 20px 0 rgba(0, 174, 255, 0.3);
  }
  &__feedback {
    background-color: rgb(231, 61, 189);
    box-shadow: 0 10px 20px 0 rgba(231, 61, 189, 0.45);
  }
  &__price {
    background-color: rgb(231, 61, 189);
    box-shadow: 0 10px 20px 0 rgba(231, 61, 189, 0.45);
    font-size: 23px;
  }
}

.topper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.topper-list {
  &__items {
    display: flex;
  }
  &__link {
    font-family: 'Intro', sans-serif;
    font-size: 20px;
  }
  &__span {
    color: #c7c7c7;
    padding: 0 18px;
  }
}

.header-main {
  & p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #444444;
    width: 550px;
    & span {
      font-weight: bold;
    }
  }
  &__slogan {
    & p {
      font-family: 'Intro', sans-serif;
      font-size: 45px;
      color: #e73dbd;
      line-height: 37px;
      width: 733px;
      padding-left: 50px;
      & span {
        display: block;
        font-weight: normal;
        font-size: 33px;
        text-align: right;
      }
    }
  }
}