@media (max-width: 1199px) {
  .btn {
    padding-left: 18px;
    padding-right: 18px;
    &__feedback {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  .topper-list {
    margin-left: 0;
    &__link {
      font-size: 18px;
    }
    &__span {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .header {
    background-position: -460px 0;
  }

  .header-main {
    &__block {
      display: block;
      padding-left: 60px;
    }
    &__slogan {
      & p {
        width: 590px;
        padding-left: 0;
      }
    }
  }

  .price {
    width: 385px;
    text-align: center;
  }

  .price-list {
    & p {
      text-align: left;
    }
  }

  .advantages {
    background-position: -262px 50%;
    &__list {
      margin-left: 60px;
    }
    &__item {
      width: 280px;
      & span {
        padding-left: 0;
        &::after {
          display: none;
        }
        &.advantages {
          &__item-number {
            left: -80px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 50px;
    margin-top: 0;
  }

  h2 {
    font-size: 55px;
    &:after {
      top: 39px;
      right: 277px;
    }
    & span {
      font-size: 28px;
    }
  }

  .topper {
    justify-content: space-around;
    align-items: flex-start;
  }

  .topper-list {
    &__items {
      display: flex;
      flex-wrap: wrap;
      width: 223px;
    }
  }

  .header {
    background: #fff;
    height: auto;
    padding-bottom: 50px;
  }

  .header-main {
    &__block {
      padding-left: 0;
    }
    &__img {
      width: 270px;
      top: -71px;
      right: 0;
      & img {
        width: 100%;
      }
    }
    &__slogan {
      & p {
        font-size: 40px;
        & span {
          font-size: 29px;
        }
      }
    }
  }

  .advantages {
    background: #00aeff;
    margin-top: 0;
    padding-top: 0;
    &__list {
      margin-left: 95px;
    }
    &__item {
      width: auto;
      &_first {
        order: 1;
      }
      &_second {
        margin-top: 0;
        order: 2;
      }
      &_third {
        margin-top: 0;
        order: 3;
      }
      &_fourth {
        order: 4;
      }
      & span {
        &.advantages {
          &__item-number {
            left: -100px;
          }
        }
      }
    }
    &__img {
      top: 13px;
    }
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 18px;
    & span {
      display: block;
      margin: 10px 0 18px;
      &:after {
        top: -30px;
        left: 27px;
      }
    }
  }

  h2 {
    font-size: 23px;
    text-align: center;
    letter-spacing: normal;
    & span {
      font-size: 23px;
      display: inline;
      letter-spacing: normal;
    }
    &:after {
      display: none;
    }
  }

  .btn {
    width: 100%;
    &__price {
      font-size: 18px;
    }
  }

  .topper {
    flex-wrap: wrap;
    padding: 10px 0 0;
  }

  .topper-list {
    &__items {
      line-height: 31px;
      justify-content: center;
      margin: 15px 0;
    }
  }

  .header-main {
    & p {
      width: auto;
      font-size: 16px;
      margin-top: 13px;
      padding: 0;
    }
    &__slogan {
      padding: 0;
      & p {
        font-size: 25px;
        width: auto;
        & span {
          font-size: 17px;
          text-align: center;
        }
      }
    }
    &__img {
      position: static;
      width: auto;
      text-align: center;
      margin-top: 20px;
    }
  }

  .price {
    width: auto;
  }

  .price-list {
    & p {
      font-size: 14px;
      text-align: center;
      padding: 5px 20px;
      &:nth-child(even) {
        position: static;
        margin-top: 0;
      }
    }
    &__item {
      display: block;
    }
  }

  .advantages {
    &__img {
      display: none;
    }
    &__list {
      margin-left: 55px;
    }
    &__item {
      & span {
        font-size: 18px;
        &.advantages {
          &__item-number {
            font-size: 100px;
            top: 0;
            left: -63px;
            line-height: 83px;
          }
        }
      }
    }
  }
}